  <div class="container">
    <h1>Bean Bac Boe</h1>
    <div class="board">
      <div
        class="cell"
        *ngFor="let cell of board; let i = index"
        (click)="playerMove(i)"
        [ngClass]="{'player': cell === this.PLAYER, 'program': cell === this.OPPONENT}"
        [class.disabled]="!isPlayerTurn"  
      >
        <img *ngIf="cell === this.PLAYER" [src]="playerIcon" alt="Player Icon" />
        <img *ngIf="cell === this.OPPONENT" [src]="opponentIcon" alt="Opponent Icon" />
      </div>
    </div>
    <p *ngIf="winner" class="result">
      {{ winner === 'Draw' ? 'It\'s a Draw!' : (winner + ' Wins!') }}
    </p>
    <button (click)="resetGame()">Reset Game</button>
  </div>