<div class="container">
  <h1>Tic Tac Toe</h1>
  <div class="board">
    <div
      class="cell"
      *ngFor="let cell of board; let i = index"
      (click)="playerMove(i)"
      [ngClass]="{'player': cell === 'X', 'program': cell === 'O'}"
    >
      <img *ngIf="cell === 'X'" [src]="playerIcon" alt="Player Icon" />
      <img *ngIf="cell === 'O'" [src]="opponentIcon" alt="Opponent Icon" />
    </div>
  </div>
  <p *ngIf="winner" class="result">
    {{ winner === 'Draw' ? 'It\'s a Draw!' : (winner + ' Wins!') }}
  </p>
  <button (click)="resetGame()">Reset Game</button>
</div>